/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: 'Fira Code', monospace;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind components;

@tailwind utilities;
